{% load static %}
<!DOCTYPE html>
<html class="" lang="en">

<head>
  <!-- Forzar a no leer el cache del navegador web -->
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <!-- <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Pragma" content="no-cache"> -->
  <!-- Caracteres -->
  <meta charset="utf-8">
  <!-- Compatibilidad navegador -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Título -->
  <title>Licenciada Cyntia Concetti | Nutrition eCommerce | Planes de alimentación online</title>
  <!-- Descripción del contenido SEO -->
  <meta name="description" content="">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Favicon.cc -->
  <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon1.ico"> -->
  <!-- Favicon.io -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon_io2/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon_io2/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon_io2/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/img/favicon_io2/favicon.ico">
  <link rel="manifest" href="/static/img/favicon_io2/site.webmanifest">
  <!-- ========================= CSS Aqui ========================= -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <!-- Movement.css -->
  <link href="https://unpkg.com/movement.css/movement.css" rel="stylesheet">
</head>
<!-- ========================= BODY Aqui ========================= -->

<body id="myPage">
  <!-- Loader -->
  <div id="loaderId">
    <span class="loader"></span>
  </div>
  <!-- Links (sit on top) -->
  <header class="w3-top" id="header">
    <div id="sci-container" class="w3-col s20">
      <div class="nav-link1 w3-block">
        <a class="" href="index.html">
          <img id="header-img" src="/static/img/logoCyn.png" alt="healthy logo" />
        </a>
        <!--         <a class="" href="index.html"><img id="header-img" src="img/logo3.png" alt="healthy logo"
            style="width: 50px;" /></a> -->
        <ul>
          <li>
            <a href="https://www.facebook.com/nutricionistacyntiaconcetti?mibextid=ZbWKwL" target="_blank">
              <i class="w3-button fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/nutricion.cynconcetti?igshid=OGQ2MjdiOTE=" target="_blank">
              <i class="w3-button fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cyntia-concetti-b703601ba" target="_blank">
              <i class="w3-button fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="social-icons-container"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fa fa-envelope-o"></i></a><a href="#"><i class="fab fa-linkedin-square"></i></a></div> -->
    </div>
    <nav class="w3-row w3-large w3-light-grey" id="nav-bar">
      <div class="w3-col s3">
        <a class="nav-link w3-button w3-block" href="#myPage">Inicio</a>
      </div>
      <div class="w3-col s3">
        <a class="nav-link w3-button w3-block" href="#plans">Planes</a>
      </div>
      <div class="w3-col s3">
        <a class="nav-link w3-button w3-block" href="#about">Recetas</a>
      </div>
      <div class="w3-col s3">
        <a class="nav-link w3-button w3-block" href="#contact">Contacto</a>
      </div>
    </nav>
  </header>
  <!-- Image Header Slider-->
  <div class="w3-display-container w3-animate-opacity">
    <div class="w3-display-container w3-animate-opacity">
      <ul style="padding-inline-start: 0px !important;">
        <li class="mySlides">
          <img id="flexbox" class="image" src="/static/img/slider-3.png" alt="nutricion"
            style="width:100%;min-height:600px;max-height:730px;">
          <div class="gradient"></div>
          <div id="content-image-header" class="w3-half w3-padding-64 w3-container w3-display-middle w3-margin-bottom">
            <div data-m="reveal">
              <h1 id="h1-image-header">Tu Salud es Nuestra Prioridad</h1>
              <p>Hola! Soy Licenciada en Nutrición. Como apasionada de la educación alimentaria, mi objetivo es promover
                una alimentación saludable y ayudarlos a mejorar su calidad de vida con herramientas sencillas y
                prácticas.</p>
              <button id="button1" onclick="document.getElementById('id01').style.display='block'"
                class="w3-round-small w3-button w3-xlarge w3-theme w3-teal w3-card-4" title="Go To Whatsapp">Lic. Cyntia
                Concetti</button>
            </div>
          </div>
        </li>
        <li class="mySlides">
          <img id="flexbox" class="image" src="/static/img/slider-2.png" alt="nutricion"
            style="width:100%;min-height:600px;max-height:730px;">
          <div class="gradient"></div>
          <div id="content-image-header" class="w3-half w3-padding-64 w3-container w3-display-middle w3-margin-bottom">
            <h1 id="h1-image-header">Gestión Nutricional Completa</h1>
            <p>Una buena nutrición es la primera defensa contra las enfermedades y nuestra fuente de energía para vivir
              y estar activos. Es importante trabajar sobre un plan de alimentación que se adapte a tus necesidades.</p>
            <div data-m="reveal">
              <button id="button1" onclick="document.getElementById('id01').style.display='block'"
                class="w3-round-small w3-button w3-xlarge w3-theme w3-teal w3-card-4" title="Go To Whatsapp">Lic. Cyntia
                Concetti</button>
            </div>
          </div>
        </li>
        <li class="mySlides">
          <img id="flexbox" class="image" src="/static/img/slider-1.png" alt="nutricion"
            style="width:100%;min-height:600px;max-height:730px;">
          <div class="gradient"></div>
          <div id="content-image-header" class="w3-half w3-padding-64 w3-container w3-display-middle w3-margin-bottom">
            <h1 id="h1-image-header">El Mejor Tratamiento y Atención</h1>
            <p>La forma más natural y amable de estar sanos es alimentarnos bien, en forma consciente y disfrutando de
              las comidas. Te propongo que trabajemos en conjunto por cambiar hábitos que integren cuerpo y mente.</p>
            <div data-m="reveal">
              <button id="button1" onclick="document.getElementById('id01').style.display='block'"
                class="w3-round-small w3-button w3-xlarge w3-theme w3-teal w3-card-4" title="Go To Whatsapp">Lic.
                CyntiaConcetti</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-teal w3-display-container">
        <span onclick="document.getElementById('id01').style.display='none'"
          class="w3-button w3-teal w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <h4>Oh Hola! Te acabamos de mostrar una ventana emergente..</h4>
        <h5>Porque podemos <i class="fa fa-smile-o"></i>
        </h5>
      </header>
      <div class="w3-container">
        <p>Genial no? Bueno, suficientes vueltas..</p>
        <p>Visita el <a target="_blank" class="w3-text-teal"
            href="https://api.whatsapp.com/send/?phone=5492914619996&text=Holaa%21+🤗&type=phone_number&app_absent=0">Whatsapp</a>
          Para saber mas! </p>
      </div>
      <footer class="w3-container w3-teal">
        <p>CynConcetti Nutrición</p>
      </footer>
    </div>
  </div>
  <!-- Content -->
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <!-- Grid What We Offer -->
    <div class="w3-row w3-container">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Lo Que Ofrecemos</span>
      </div>
      <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
        <h3>Menú semanal</h3>
        <!-- <p>Menú semanal con su lista de compras para que puedas organizarte, y si queres podes congelar o refrigerar!!</p> -->
        <p>Desayuno, merienda, almuerzo y cena con su lista de compras para organizarte durante el dia o refrigerar!</p>
      </div>
      <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
        <h3>Asesoramiento</h3>
        <p>Recomendaciones para comprar frutas y verduras de temporada para ahorrar dinero y aprovechar los nutrientes.
        </p>
      </div>
      <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
        <h3>Consultas online</h3>
        <p>Igual a una consulta presencial con la única excepción del pesaje y medidas. <a
            class="masInfo w3-hover-opacity" href="#contact"> Más info <i class="fa fa-arrow-down w3-margin-right"
              aria-hidden="true"></i>
          </a>
        </p>
        <!-- <br class="espacio"> -->
      </div>
      <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
        <h3>Menú dinámico</h3>
        <p>Podes repetir las opciones, hacer reemplazos con lo que te quedó de uno para armar otro, o empezar uno nuevo!
        </p>
      </div>
    </div>
    <!-- Guía de Pasos -->
    <div class="w3-row w3-container">
      <div class="w3-col l12 m12 w3-light-grey w3-container w3-padding-16">
        <h3>Guía para tu Plan Personalizado</h3>
        <div id="planA" class="w3-card-4">
          <div class="gradient2 w3-card-4">
            <h2 class="h2-image-bckg">#RealizaElPago</h2>
            <h2 class="h2-image-bckg">#DíaYhorario</h2>
            <h2 class="h2-image-bckg">#Videollamada</h2>
            <!-- <img style="width: 100%; height: 415px;" src="img/healthy-food-note.jpg" alt="food background"> -->
            <!-- <iframe id="video" height="415px" width="100%"
          src="https://www.youtube-nocookie.com/embed/hutT5j6G-Kw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
          allowfullscreen=""></iframe> -->
          </div>
        </div>
        <div class="guiaPlan-padding">
          <p>
            <sup class="guiaPlan">#1 </sup>Una vez realizado el pago te envio las preguntas por WhatsApp para que podamos conocer tus gustos
            y necesidades. Y así poder armar recomendaciones personalizadas para vos.
          </p><br>
          <p>
            <sup class="guiaPlan">#2 </sup>Coordinamos el día y horario de la consulta online que resulte más conveniente. Recorda que
            debemos estar disponibles y ser puntuales.
          </p><br>
          <!-- <p>Por último, utilizaremos la plataforma que teresulte más cómoda. Es muy simple, solo tenes que crear un usuario y yo te llamo.</p> -->
          <p>
            <sup class="guiaPlan">#3 </sup>Finalmente será hora de la consulta! Elegí la plataforma de videollamada que prefieras y
            estaremos listos para empezar. ¡Hablemos sobre cómo alcanzar tus objetivos alimenticios!
          </p>
        </div>
      </div>
    </div>
    <!-- Grid Pricing Plans-->
    <div class="w3-row-padding" id="plans">
      <div class="w3-center w3-padding-64">
        <h3>Planes de Precios</h3>
        <p>Elige un plan de precios que se ajuste a tus necesidades.</p>
      </div>
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Plan Base</li>
          <li class="w3-padding-16">
            <b>Consulta</b> nutricional
          </li>
          <li class="w3-padding-16">
            <b>Plan</b> alimentario
          </li>
          <li class="w3-padding-16">
            <b>Listado</b> de compras
          </li>
          <li class="w3-padding-16">
            <b>Ideas</b> de menú
          </li>
          <li class="w3-padding-16">
            <b>Chat</b> directo y privado
          </li>
          <li class="w3-padding-16">
            <h2 class="w3-wide">$ 3500</h2>
            <span class="w3-opacity">por plan</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <!-- <a href="https://mpago.la/2sjPdRm" target="_blank"></a> -->
            <button class="w3-button base-plan w3-green w3-padding-large" data-plan="Base" data-mercadopago-link="https://mpago.la/2sjPdRm">Contratar</button>
          </li>
        </ul>
      </div>
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Plan Intermedio</li>
          <li class="w3-padding-16">
            <b>Consulta</b> nutricional
          </li>
          <li class="w3-padding-16">
            <b>Plan</b> alimentario
          </li>
          <li class="w3-padding-16">
            <b>Listado</b> de compras
          </li>
          <li class="w3-padding-16">
            <b>Ideas</b> de menú
          </li>
          <li class="w3-padding-16">
            <b>Chat</b> directo y privado
          </li>
          <li class="w3-padding-16">
            <b>Recetario</b> desayuno/merienda
          </li>
          <li class="w3-padding-16">
            <b>Control</b> a los 15 días
          </li>
          <li class="w3-padding-16">
            <b>Seguimiento</b> nutricional
          </li>
          <li class="w3-padding-16">
            <h2 class="w3-wide">$ 4000</h2>
            <span class="w3-opacity">por plan</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <!-- <a href="https://mpago.la/2jckJEY" target="_blank"></a> -->
              <button class="w3-button middle-plan w3-green w3-padding-large" data-plan="Middle" data-mercadopago-link="https://mpago.la/2jckJEY">Contratar</button>
          </li>
        </ul>
      </div>
      <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-center w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Plan Full</li>
          <li class="w3-padding-16">
            <b>Consulta</b> nutricional
          </li>
          <li class="w3-padding-16">
            <b>Plan</b> alimentario
          </li>
          <li class="w3-padding-16">
            <b>Listado</b> de compras
          </li>
          <li class="w3-padding-16">
            <b>Ideas</b> de menú
          </li>
          <li class="w3-padding-16">
            <b>Chat</b> directo y privado
          </li>
          <li class="w3-padding-16">
            <b>Recetario</b> + de 300 recetas saludables
          </li>
          <li class="w3-padding-16">
            <b>Control</b> a los 15 días
          </li>
          <li class="w3-padding-16">
            <b>Seguimiento</b> nutricional
          </li>
          <li class="w3-padding-16">
            <b>Opcional</b> videollamada de 30 minutos
          </li>
          <li class="w3-padding-16">
            <h2 class="w3-wide">$ 4500</h2>
            <span class="w3-opacity">por plan</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <!-- <a href="https://mpago.la/1Rhrgsf" target="_blank"></a> -->
              <button class="w3-button full-plan w3-green w3-padding-large" data-plan="Full" data-mercadopago-link="https://mpago.la/1Rhrgsf">Contratar</button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal for Payment -->
    <div id="paymentModal" class="w3-modal">
      <div class="w3-modal-content w3-card-4  w3-animate-top">
        <header class="w3-container w3-teal">
          <span onclick="document.getElementById('paymentModal').style.display='none'"
            class="w3-button w3-teal w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <h2>Elige tu forma de pago</h2>
        </header>
        <div class="w3-container">
          <h3>Copia el CVU o alias para pagar</h3>
          <div id="datosCVU" class="w3-container">
            <p>Cyntia Daiana Concetti</p>
            <div class="w3-card w3-padding-large w3-display-container">
              <p class="cvu-alias">CVU</p>
              <p id="enlaceCVU">0000003100082616070457</p>
              <button title="copiar" class="w3-padding-large w3-display-right w3-button" id="copiarCVU"><i class="far fa-clone" aria-hidden="true" data-valor='CVU'></i></button>
            </div>
            <br>
            <div class="w3-card w3-padding-large w3-display-container">
              <p class="cvu-alias">Alias</p>
              <p id="enlaceAlias">nutricion.cyntia</p>
              <!-- fa fa-files-o -->
              <button title="copiar" class="w3-padding-large w3-display-right w3-button" id="copiarAlias"><i class="far fa-clone" aria-hidden="true" data-valor='alias'></i></button>
            </div>
            <br>
            <!-- <p>CUIT/CUIL: 27348563284</p> -->
          </div>
        
          <h3>Accede a mas opciones</h3>
          <!-- <form id="paymentForm">
              <p>
                <input type="radio" id="tarjeta" name="pago" value="tarjeta">
                <label for="tarjeta">Tarjeta de Crédito</label>
              </p>
              <p>
                <input type="radio" id="pagoFacil" name="pago" value="pagoFacil">
                <label for="pagoFacil">Pago Fácil</label>
              </p>
              <p>
                <input type="radio" id="transferencia" name="pago" value="transferencia">
                <label for="transferencia">Transferencia CVU/CBU</label>
              </p>
              <p>
                <input type="radio" id="rapipago" name="pago" value="rapipago">
                <label for="rapipago">RapiPago</label>
              </p>
            </form> -->
          <a id="mercadoPagoButton" href="" target="_blank">
            <button class="w3-button w3-green w3-padding-large w3-block">Mercado Pago</button>
          </a>
          <!-- <button id="processPayment" class="w3-button w3-green w3-padding-large cho-container">Mercado Pago</button> -->
        </div>
        <footer class="w3-container w3-teal" style="margin-top: 20px;">
          <p>CynConcetti Nutrición</p>
        </footer>
      </div>
    </div>
    <!-- Grid Of Recipes -->
    <div class="w3-row-padding hover06 column" id="about">
      <div class="w3-center w3-padding-64">
        <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Algunas Recetas</span>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <div class="card">
            <img class="image-grid" src="/static/img/hamburguesa.png" alt="Hamburguesas" style="width:100%">
          </div>
          <div class="w3-container">
            <h3>Hamburguesa</h3>
            <p class="w3-opacity">Hamburguesas de Pollo y Espinaca </p>
            <p>Las podes hacer como plato principal acompañándolas con ensalada o vegetales. O para picotear a la tarde
              y evitar llegar con hambre a la noche.</p>
            <p>
              <button onclick="document.getElementById('id02').style.display='block'"
                class="w3-button w3-light-grey w3-block">Receta</button>
            </p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <div class="card">
            <img src="/static/img/budin.png" alt="Mike" style="width:100%">
          </div>
          <div class="w3-container">
            <h3>Budín</h3>
            <p class="w3-opacity">Budín Bicolor de Calabaza y Brocoli</p>
            <p>Esta es una receta única. Nos brinda mucha saciedad y nos aporta vitaminas , hierro y proteínas, ideal
              para niños y para bajar de peso.</p>
            <p>
              <button onclick="document.getElementById('id03').style.display='block'"
                class="w3-button w3-light-grey w3-block" class="w3-button w3-light-grey w3-block">Receta</button>
            </p>
          </div>
        </div>
      </div>
      <div class="w3-third w3-margin-bottom">
        <div class="w3-card-4">
          <div class="card tortilla">
            <img src="/static/img/frittata.png" alt="Jane" style="width:100%">
          </div>
          <div class="w3-container">
            <h3>Tortilla</h3>
            <p class="w3-opacity">Tortilla de Acelga y Queso</p>
            <p>La tortilla de acelga es un alimento bajo en calorías que contiene vitaminas A y C, minerales como
              hierro, magnesio, fósforo, potasio, y fibra.</p>
            <p>
              <button onclick="document.getElementById('id04').style.display='block'"
                class="w3-button w3-light-grey w3-block" class="w3-button w3-light-grey w3-block">Receta</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal of Recipe-1 -->
    <div id="id02" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-bottom">
        <header class="w3-container w3-teal w3-display-container">
          <span onclick="document.getElementById('id02').style.display='none'"
            class="w3-button w3-teal w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <h4>Hamburguesas de Pollo y Espinaca</h4>
          <h5>Receta Saludable <i class="fa fa-smile-o"></i>
          </h5>
        </header>
        <div class="w3-container">
          <p>Ingredientes:</p>
          <ul>
            <li>2 pechugas de pollo</li>
            <li>1 taza con espinaca cocida</li>
            <li>1/2 cebolla</li>
            <li>1/2 morrón verde</li>
            <li>Orégano</li>
            <li>Sal</li>
            <li>Pimienta</li>
            <li>Aceite de coco para untar</li>
          </ul>
          <p>Preparación:</p>
          <ol>
            <li>Picar el pollo crudo bien chiquito o licuarlo.</li>
            <li>En el mismo recipiente colocar los condimentos, la cebolla, el morrón crudo y la espinaca.</li>
            <li>Luego formar bollitos y aplastarlos hasta que tomen forma de hamburguesas.</li>
            <li>Colocarlos en una placa para horno a 180 º por unos 20 minutos. untada con aceite de coco o rocío
              vegetal. Listo!!!</li>
          </ol>
          <p>Descarga el <a class="w3-text-teal" href="/static/recetario-cyntiaConcetti_desacarga.pdf" download>Recetario</a> Para mas
            recetas! </p>
        </div>
        <footer class="w3-container w3-teal">
          <p>CynConcetti Nutrición</p>
        </footer>
      </div>
    </div>
    <!-- Modal of Recipe-2 -->
    <div id="id03" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-bottom">
        <header class="w3-container w3-teal w3-display-container">
          <span onclick="document.getElementById('id03').style.display='none'"
            class="w3-button w3-teal w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <h4>Budín Bicolor de Calabaza y Brocoli</h4>
          <h5>Receta Saludable <i class="fa fa-smile-o"></i>
          </h5>
        </header>
        <div class="w3-container">
          <p>Ingredientes:</p>
          <ul>
            <li>Para la 1° capa:</li>
            <li>2 tazas de puré de calabaza </li>
            <li>1 cucharada sopera con queso crema</li>
            <li>1 cucharada sopera de queso rallado </li>
            <li>2 huevos duros</li>
            <li>Sal, pimienta y ajo</li>
            <br>
            <li>Para la 2° capa:</li>
            <li>2 tazas de brócoli cocido al vapor</li>
            <li>2 huevos</li>
            <li>2 cucharadas soperas de queso crema</li>
            <li>1 cucharada sopera de queso rallado </li>
            <li>Sal, pimienta y ajo</li>
          </ul>
          <p>Preparación:</p>
          <ol>
            <li>Esparcir rocío vegetal sobre una budinera.</li>
            <li>Colocar todos los ingredientes de la primera capa en un boul y mezclar.</li>
            <li>Llevar la preparación dentro de la budinera.</li>
            <li>Agregar los 2 huevos duros enteros.</li>
            <li>Colocar todos los ingredientes de la segunda capa y mezclar.</li>
            <li>Llevar la preparación a la budinera.</li>
            <li>Puede espolvorear semillas de chia y sésamo arriba.</li>
            <li>Llevar a horno moderado durante 30/40 minutos.</li>
          </ol>
          <p>Descarga el <a class="w3-text-teal" href="/static/recetario-cyntiaConcetti_desacarga.pdf" download>Recetario</a> Para mas
            recetas! </p>
        </div>
        <footer class="w3-container w3-teal">
          <p>CynConcetti Nutrición</p>
        </footer>
      </div>
    </div>
    <!-- Modal of Recipe-3 -->
    <div id="id04" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-bottom">
        <header class="w3-container w3-teal w3-display-container">
          <span onclick="document.getElementById('id04').style.display='none'"
            class="w3-button w3-teal w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <h4>Tortilla de Acelga</h4>
          <h5>Receta Saludable <i class="fa fa-smile-o"></i>
          </h5>
        </header>
        <div class="w3-container">
          <p>Ingredientes:</p>
          <ul>
            <li>1 atado de acelga</li>
            <li>1 cebolla</li>
            <li>1 cucharada sopera con aceite de coco</li>
            <li>3 huevos</li>
            <li>150 g de queso parmesano</li>
            <li>Sal y pimienta, a gusto</li>
            <li>1/2 cdita. de nuez moscada (optativo)</li>
          </ul>
          <hp>Preparación: </p>
            <ol>
              <li>Lavar bien la acelga, cortar las pencas y blanquear las hojas en agua hirviendo con sal por apenas un
                minuto.</li>
              <li>Retirar, escurrir y picar. Dejar enfriar y reservar. Por otro lado picar la cebolla y rehogarla en el
                aceite de coco.</li>
              <li>Una vez dorada agregar la acelga picada, revolver y saltear todo junto unos minutos.</li>
              <li>Aparte y en un bol grande, batir ligeramente los huevos, salpimentar y volcar allí la acelga fría y
                mitad del queso rallado.</li>
              <li>Mezclar bien, volcar en una budinera aceitada, cubrir la superficie con el resto de queso, y hornear a
                baño María y temperatura moderada, hasta que la superficie quede resistente al tacto y dorada.</li>
              <li>Servir enseguida.</li>
            </ol>
            <p>Descarga el <a class="w3-text-teal" href="/static/recetario-cyntiaConcetti_desacarga.pdf" download>Recetario</a> Para mas
              recetas! </p>
        </div>
        <footer class="w3-container w3-teal">
          <p>CynConcetti Nutrición</p>
        </footer>
      </div>
    </div>
  </div>
  <!-- Contact Container -->
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
    <div class="w3-row">
      <div class="w3-col m5">
        <div class="w3-padding-16">
          <span class="w3-xlarge w3-border-teal w3-bottombar">Contacto</span>
        </div>
        <h3>Dirección</h3>
        <p>Hablemos sobre tus necesidades nutricionales.</p>
        <p>
          <i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Medanos, AR
        </p>
        <p>
          <i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +54 9 291 461-9996
        </p>
        <p>
          <i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  cyntia_concetti_@hotmail.com
        </p>
      </div>
      <div class="w3-col m7">
        <!-- FORMULARIO -->
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="{% url 'contact' %}" method="POST"
          target="_self" id="form">

          {% if messages %}
              {% for message in messages %}
                  <div id="confirmation" class="w3-panel w3-red">
                    <h3>¡Gracias por enviarnos tus datos!</h3>
                    <p>Apreciamos tu colaboración y confianza en nosotros</p>
                      {{message}}
                      <br><br>
                  </div> 
              {% endfor %}
          {% endif %}

          <div class="w3-section">
            <label>Nombre</label>
            <input class="w3-input" type="text" name="name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input" type="email" name="email" required id="email" placeholder="text">
          </div>
          <div class="w3-section">
            <label>Mensaje</label>
            <input class="w3-input" type="text" name="message" required>
          </div>
          <input class="w3-check" type="checkbox" checked name="like">
          <label>Me gusta!</label>

          {% csrf_token %}

          <input id="submit" type="submit" class="w3-button w3-right w3-theme" value="Send">
          <!-- <button type="submit" class="w3-button w3-right w3-theme" id="submit">Send</button> -->
        </form>
      </div>
    </div>
  </div>
  <!-- Whatsapp Button -->
  <a target="_blank" id="whatsapp" class="w3-button" aria-label="Chat on WhatsApp"
    href="https://api.whatsapp.com/send/?phone=5492914619996&text=Holaa%21+👋🙂&type=phone_number&app_absent=0">
    <i class="fa fa-whatsapp" style="font-size:24px"></i> WhatsApp </a>
  </div>    
  <!-- Footer -->
  <footer id="footer" class="w3-container w3-padding-32 w3-light-grey w3-center w3-block">
    <h4>Footer</h4>
    <a href="#myPage" class="w3-button w3-black w3-margin">
      <i class="fa fa-arrow-up w3-margin-right"></i>To the top </a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://juanroccia.github.io/" title="W3.CSS" target="_blank"
        class="w3-hover-text-green">Juanroccia</a>
    </p>
  </footer>
</body>
<!-- ========================= JS here ========================= -->
<script src="/static/js/script.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>

</html>